{% extends 'core/base.html' %}{% load static %}
{% block title %}person{% endblock %}
{% block content %}
    <h1 class="text-center mb-2 mt-2">{{ persons.0.role|title }}s</h1>
    <div class="flex-wrap gap-2 pb-4 d-flex justify-content-center">
        {% for person in persons %}
            <a href="{% url 'person_detail' id=person.id %}" class="card text-decoration-none"
               style="width: 18rem; border: white">
                <img src="{{ person.photo.url }}"
                     class="card-img-top pb-1 flex-grow-1 object-fit-cover"
                     style="border-radius: 5px"
                     alt="">
                <p class="mt-auto fs-5">{{ person.name }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}